.freetextresponse .user_input .status {
  margin-left: 10px;
  display: inline-block;
}

.freetextresponse .user_input.unanswered .status {
  width: 14px;
  height: 14px;
  background: url("images/unanswered-icon.png") center center no-repeat;
}

.freetextresponse .user_input.correct .status {
  width: 25px;
  height: 20px;
  background: url("images/correct-icon.png") center center no-repeat;
}

.freetextresponse .user_input.incorrect .status {
  width: 20px;
  height: 20px;
  background: url("images/incorrect-icon.png") center center no-repeat;
}

.freetextresponse .user_input .student_answer {
  height: 150px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 2px solid #e4e4e4;
  min-width: 160px;
  width: 85%;
}

.freetextresponse .user_input.unanswered .student_answer {
  border: 2px solid #e4e4e4;
}

.freetextresponse .user_input.correct .student_answer {
  border: 2px solid #1e9348;
}

.freetextresponse .user_input.incorrect .student_answer {
  border: 2px solid #b20610;
}

.freetextresponse .action {
  margin-top: 20px;
}

.freetextresponse .action .save {
  height: 40px;
  vertical-align: middle;
  font-weight: 600;
}

.freetextresponse .action .check {
  height: 40px;
  vertical-align: middle;
  font-weight: 600;
}

.freetextresponse .action .used-attempts-feedback {
  display: inline-block;
  margin-top: 8px;
  margin-left: 10px;
  color: #666;
  font-style: italic;
}

.freetextresponse .action .nodisplay{
  display: none;
}

.freetextresponse .problem-progress {
  display: inline-block;
  padding-left: 5px;
  color: #666;
  font-weight: 100;
  font-size: 1em;
}

.freetextresponse .word-count-message {
  display: inline-block;
  padding-left: 5px;
  color: #666;
  font-weight: 100;
  font-size: 1em;
}

.freetextresponse .hidden {
  visibility: hidden;
}

.freetextresponse .problem-header {
  display: inline-block;
}

.freetextresponse .capa_alert {
  margin-top: 10px;
  padding: 8px 12px;
  border: 1px solid #ebe8bf;
  border-radius: 3px;
  background: #fffcdd;
  font-size: 0.9em;
}

.freetextresponse .responses-box {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background: #fbfbfb;
  border: 1px solid #ddd;
}

.freetextresponse .responses-title {
  margin-left: 15px;
  margin-top: 10px;
}

.freetextresponse .hide-button {
  padding: 0;
  float: right;
  box-shadow: none;
  background: none;
  border: none;
  color: #069;
  text-decoration: underline;
  text-shadow: none;
}
.freetextresponse .hide-button .show {
  display: none;
}
.freetextresponse .hide-button .hide {
  display: inline;
}

.freetextresponse .response-list {
  list-style: none;
}

.freetextresponse .other-student-responses {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px dashed #ddd;
  color: #414141;
  font-size: 0.8em;
  text-align: left;
  list-style-type: none;
}

.freetextresponse .no-response {
  font-size: 0.8em;
  text-align: left;
  list-style-type: none;
}

.freetextresponse div:empty {
  display: none;
}
